.mobileNav__menu{
    position: relative;
    width: 320px;
    height: 100vh;
    background: white;
    overflow: hidden;
    z-index: 3;
}

.mobileNav__submenu{
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 100vh;
    background: white;
  
}


.ctaBtn{
   background: #4B4EFC;
   border-radius: 20px;
   padding: 10px 20px;
   color: white;
   font-weight: 600;
   font-size: 14px;
  width: fit-content;
}
.ctaBtn:hover{
    background: #1E22FB;
}