.step {
    position: relative;
    min-height: 1em;
    color: gray;
  }

  .title {
    line-height: 1.5em;
    font-weight: bold;
  }

  .caption {
    font-size: 0.8em;
  }

  .step + .step {
    margin-top: 1.5em
  }

  .step > div:first-child {
    position: static;
    height: 0;
  }

  .step > div:not(:first-child) {
    margin-left: 1.5em;
    padding-left: 1em;
  }

  .circle {
    background: gray;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 0 3px #fff;
  }

  .step:last-child .circle:after {
    display: none
  }

  .step.step-active {
    color: #4285f4
  }
  .step.step-active .circle {
    background-color: #4285f4;
  }

  
